.upperCont {
    background-color: rgb(22, 0, 104);
    height: 50px;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}



/*------------------
 Header section
  ---------------------*/



.site-logo {
    display: inline-block;
    margin-right: 10px;
    padding-left: 63px;
}

.site-logo img {
    height: 80%;
    width: 80%;
}

.hib-icon img {
    height: 40px;
    width: 35px;
}


.header-right {
    float: right;
    padding-right: 83px;
    position: relative;
}

.header-info-box {
    display: inline-block;
    margin-right: 40px;
    padding: 21px 0 15px;
}

.header-info-box .hib-icon {
    float: left;
    margin-right: 13px;
}

.header-info-box .hib-text {
    overflow: hidden;
}

.header-info-box .hib-text h6 {
    font-weight: 400;
    font-size: 14px;
}

.header-info-box .hib-text p {
    margin-bottom: 0;
}

.search-switch {
    position: absolute;
    right: 0;
    top: 0;
    width: 83px;
    height: 100%;
    max-height: 86px;
    color: #fff;
    font-size: 25px;
    border: none;
    background: #ffc000;
}

.search-switch-warp {
    padding-top: 20px;
}

.search-switch-warp .search-switch {
    display: block;
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 10px;
}

.site-nav-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.site-navbar {
    border-bottom: solid 2px #ffc000;
}

.site-nav-menu ul {
    list-style: none;
}

.site-nav-menu ul li {
    display: inline-block;
    position: relative;
}

.site-nav-menu ul li a {
    display: block;
    padding: 32px 16px;
    margin-right: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #081624;
    position: relative;
}

.site-nav-menu ul li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 7px;
    left: 0;
    bottom: 0;
    background: #ffc000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.site-nav-menu ul li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
    padding: 15px 0 10px;
    text-align: left;
    -webkit-box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
    box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.site-nav-menu ul li .sub-menu li {
    display: block;
}

.site-nav-menu ul li .sub-menu li a {
    padding: 8px 25px;
    text-transform: none;
    margin-right: 0;
}

.site-nav-menu ul li .sub-menu li a:hover {
    color: #ffc000;
}

.site-nav-menu ul li .sub-menu li a:after {
    display: none;
}

.site-nav-menu ul li:hover a:after {
    width: 100%;
}

.site-nav-menu ul li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    z-index: 99;
}

.site-nav-menu ul li.active a:after {
    width: 100%;
}

.slicknav_menu {
    display: none;
}

/* nav {
    background-color: #ffc000;
    color: #000;

}

nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
}



.nav-link {
    color: #000000;
} */


.slideShow {
    padding-top: 30px;
}

#imgOne {
    /* background-image: url(https://images.unsplash.com/photo-1564182998523-6923112e7d6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: left 0px bottom 30px !important;
}

#imgTwo {
    /* background-image: url(https://images.unsplash.com/photo-1564182998523-6923112e7d6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80); */
    background-size: cover;
    background-repeat: no-repeat;

    height: 600px;
    background-position: left 0px top 50px !important;
}

#imgThree {
    /* background-image: url(https://images.unsplash.com/photo-1529479627062-5f1f0b88912a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1975&q=80); */
    background-size: cover;
    background-repeat: no-repeat;

    height: 600px;
    background-position: left 0px top 50px !important;
}

/* 
.grid {
    padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 10px;
    max-width: 1500px;
    align-items: center;
    justify-items: center;
} */

.services-warp {
    padding-top: 56px;
    padding-bottom: 30px;
    max-width: 1227px;
    margin: auto auto 0;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 0 #00000075;
    box-shadow: 0 0 0 #00000075;
    z-index: 99;
}

.services-warp:after,
.services-warp::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -2;
    -webkit-box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
    box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
}

.services-warp::before {
    background: #fff;
    height: 100%;
    top: -4px;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    border-top: 4px solid #ffc000;
    z-index: -1;
}

.service-item {
    margin-bottom: 55px;
    padding-right: 20px;
}

.service-item .si-head {
    overflow: hidden;
    margin-bottom: 20px;
}



.service-item .si-icon {
    float: left;
    width: 61px;
}

.si-icon img {
    height: 40px;
    width: 40px;
}

.service-item h5 {
    overflow: hidden;
    padding-top: 12px;
}

.service-item p {
    margin-bottom: 0;
}

/* ----------------
  Features Section
  ---------------------*/

.features-section {
    padding-bottom: 73px;
    background: url(images/heroSect.jpg);
}

.fa-phone {
    color: #ffc000;
}

.feature-box {
    margin-bottom: 30px;
}

.feature-box .fb-text {
    padding: 50px 27px 43px;
    background: #fff;
    text-align: center;
}

.feature-box img {
    width: 350px;
    height: 300px;
}

.feature-box h5 {
    margin-bottom: 30px;
}

.feature-box p {
    margin-bottom: 25px;
}

.feature-box .fb-more-btn {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #ffc000;
    padding: 15px;
    min-width: 128px;
    text-align: center;
}

.feature-box .fb-more-btn:hover {
    background: #ffc000;
    color: #fff;
}

/* ----------------
  Mission Section
  ---------------------*/

.mission {
    padding-top: 100px;
    padding-bottom: 50px;

}

#center {

    text-align: center;
    justify-content: center;
}

.missionHead {
    font-weight: bolder;
    padding-bottom: 50px;
}

.missionP {
    color: rgb(80, 80, 80);
    font-style: italic;
    font-size: 1.5em;
    padding-bottom: 150px;
}

/* ------------------------
  Call to action section
 ------------------------*/

.cta-section {
    padding: 33px 0;
    background: #ffc000;
}

.cta-section h2 {
    color: #fff;
    font-size: 37px;
    font-weight: 300;
}

.site-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 186px;
    padding: 23px 47px;
    text-transform: uppercase;
    background: #ffc000;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.site-btn:hover {
    color: #fff;
}

.site-btn.sb-dark {
    color: #fff;
    background: #081624;
}

.video-text h2 {
    font-weight: 300;
    margin-bottom: 40px;
}

.video-text p {
    line-height: 2;
    margin-bottom: 50px;
}

.video-box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 88px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.27);
}


/* ----------------
  Footer Section
 ---------------------*/

.footer-section {
    background: #0e2b43;
    padding-bottom: 0;
    padding-top: 50px;
}

.footer-widget {
    margin-bottom: 40px;
}

.footer-widget.about-widget {
    padding-right: 15px;
}

.footer-widget.about-widget img {
    margin-bottom: 40px;
}

.footer-widget.about-widget p {
    margin-bottom: 35px;
}

.footer-widget .fw-title {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 35px;
}

.footer-widget ul {
    list-style: none;
    display: inline-block;
}

.footer-widget ul li a {
    display: block;
    font-size: 14px;
    color: #718090;
    margin-bottom: 15px;
}

.footer-widget .footer-search {
    position: relative;
}

.footer-widget .footer-search input {
    width: 100%;
    height: 47px;
    padding-right: 47px;
    padding-left: 22px;
    font-size: 12px;
    color: #718090;
    font-style: italic;
    border: none;
    background: #0e2b43;
}

.footer-widget .footer-search button {
    position: absolute;
    width: 47px;
    height: 100%;
    right: 0;
    top: 0;
    color: #ffc000;
    font-size: 12px;
    border: none;
    background: transparent;
}

.footer-social a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 41px;
    height: 41px;
    color: #fff;
    margin-right: 14px;
    margin-bottom: 14px;
    border-radius: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #39334f;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.footer-social a:hover {
    background: #ffc000;
}

.footer-info-box {
    margin-bottom: 30px;
}

.footer-info-box .fib-icon {
    float: left;
    width: 48px;
    padding-top: 8px;
}

.footer-info-box .fib-text {
    overflow: hidden;
}

.footer-info-box .fib-text p {
    margin-bottom: 0;
}

.footer-buttom {
    margin-top: 55px;
    background: #03031b;
}

.copyright {
    color: #646470;
    font-size: 14px;
    padding-top: 25px;
}

.copyright a {
    color: #718090;
    text-decoration: underline;
}

.copyright a:hover {
    color: #ffc000;
}

.footer-menu {
    list-style: none;
    text-align: right;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    display: block;
    padding: 21px 17px;
    margin-left: 13px;
    font-size: 15px;
    color: #646470;
    position: relative;
}

.footer-menu li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #ffc000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.footer-menu li:hover a:after,
.footer-menu li.active a:after {
    width: 100%;
}

.fib-icon img {
    height: 40px;
    width: 35px;
}

.footer-widget img {
    padding-top: 10px;
    height: 80%;
    width: 80%;
}

.footer-widget p {
    color: #718090;
}


/* SOLUTIONS PAGE */

.serveHero {
    background-image: url(images/serviceHero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.serveHero h1 {
    color: #fff;

}

.serveHero p {
    font-size: 1.5em;
    color: #fff;


}



#width {
    width: 100%;
}

.reserch-section {
    background: #0e2b43;
    padding-top: 50px;
    padding-bottom: 50px;

}


.tab-content {
    color: #fff;
}

.reserch-tab-menu {
    display: block;
    border-bottom: none;
}

.reserch-tab-menu li.nav-item {
    display: block;
}

.reserch-tab-menu li.nav-item a.nav-link {
    display: block;
    padding: 15px 29px;
    margin-bottom: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
    line-height: 1.45;
    border-radius: 0;
    background: #304a5f;
}

.reserch-tab-menu li.nav-item a.nav-link.active {
    background: #ffc000;
}

.reserch-tab {
    margin-bottom: 70px;
}

.reserch-tab h2 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 35px;
}

.reserch-tab p {
    margin-bottom: 30px;
}

.reserch-text {
    margin-bottom: 60px;
}

.reserch-text h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.reserch-info-warp {
    padding-top: 36px;
}

.reserch-info-warp .info-box {
    margin-top: 36px;
}

.map-section {
    position: relative;
    height: 50vh;
    padding: 115px 0 110px;
}

.map-section .container {
    position: relative;
    z-index: 5;
}

.map-info {
    max-width: 293px;
    padding: 79px 25px 75px;
    background: #ffc000;
    position: relative;
}

.map-info::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -17px;
    border-left: 27px solid #ffc000;
    border-top: 0px solid transparent;
    border-bottom: 17px solid transparent;
}

.map-info img {
    margin-bottom: 45px;
}

.map-info p {
    color: #fff;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.contact-text h2 {
    font-weight: 300;
    margin-bottom: 35px;
}

.contact-text p {
    margin-bottom: 70px;
}

.contact-text .header-info-box {
    display: block;
    padding: 0;
    margin-bottom: 30px;
}

.contact-form {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 54px;
    padding: 20px 25px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: #718090;
    border: none;
    border-bottom: 3px solid #e3f0fa;
    margin-bottom: 28px;
    background: #f7fafd;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom: 3px solid #ffc000;
}

.contact-form textarea {
    height: 209px;
}

.contact-form .site-btn {
    min-width: 156px;
}

.contact-section {
    padding-top: 50px;
    padding-bottom: 150px;
}

.contactBtn {
    display: flex;
    justify-content: center;
}

.contact-form input {
    margin-bottom: 0;
}

.contact-form textarea {
    margin-bottom: 0;
}

form label {
    margin-bottom: 20px;
}