/*--------------------------------------------------------------
# MISC ITEMS
--------------------------------------------------------------*/

.highlight {
    color: #009ada;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    transition: all 0.5s;
    transition: all 0.5s;
    padding: 0;
    background: #fff;
    z-index: 997;
}

#header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}


#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 70px;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #444;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #428bca;
}

#topbar .contact-info i {
    color: #428bca;
    padding: 4px;
}

#topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 10px;
}

#topbar .social-links a {
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #428bca;
}

/* Desktop Navigation */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #5c768d;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #428bca;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #103453;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #428bca;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #1f3548;
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #e3f0fc;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #9eccf4;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa0";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #5c768d;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(31, 53, 72, 0.7);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/* END NAVBAR */
/* HERO SECTION */
/*------------------------------------*\
    Generic
\*------------------------------------*/

/**
 * Box-sizing
 */

* {
    box-sizing: border-box;
}


/**
  * Sticky Footer
  */

html {
    position: relative;
    min-height: 100%;
    color: #2c3741;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
}







/**
  * Images
  *
  * These selectors are hard cast because they are only used
  * by wordpress wyswyg when adding images to content
  */

img.alignright,
.wp-caption.alignright,
img.alignleft,
.wp-caption.alignleft {
    height: auto;
    max-width: 50%;
}

img.alignnone,
.wp-caption.alignnone,
img.aligncenter,
.wp-caption.aligncenter {
    height: auto;
    max-width: 100%;
}

img.alignnone,
.wp-caption.alignnone,
img.aligncenter,
.wp-caption.aligncenter {
    margin: 0 0 22px 0;
}

img.alignright,
.wp-caption.alignright {
    float: right;
    margin: 0 0 22px 30px;
}

img.alignleft,
.wp-caption.alignleft {
    float: left;
    margin: 0 30px 22px 0;
}

img.aligncenter,
.wp-caption.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Blue line on top of Headings*/
.blue-line {
    width: 90px;
    height: 4px;
    background-color: #009ada;
    display: block;
}

/* Dark line on top of Headings*/
.dark-line {
    width: 90px;
    height: 4px;
    background-color: #2c3741;
    display: inline-block;
}

/*------------------------------------*\
     Typography
 \*------------------------------------*/

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

@media (max-width: 600px) {
    p {
        font-size: 14px !important;
    }
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

@media (max-width: 1025px) {
    h2 {
        margin-top: 22px;
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 22px;
        letter-spacing: .308px;
        margin-bottom: 22px;
    }
}

/* Links */

a {
    cursor: pointer;
    text-decoration: none;
}

/* Sanitation */


.menu ul,
.menu ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
     COMPONENTS
 \*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
}

/* TODO: If using fixed widths per size update widths below */
@media (min-width: 600px) {
    .container {
        width: 580px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 740px;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 990px;
    }
}

@media (max-width: 1025px) {

    .container,
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}

/* TODO: if usign a max-width fluid layout remove above media
              queries and uncomment below */

/* .container { max-width: 1160px; } */


.row {
    margin-left: -23px;
    /* TODO: Update margin number to match container padding */
    margin-right: -23px;
}

@media (max-width: 1025px) {
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
}

[class*="col-"] {
    position: relative;
    min-height: 1px;
    padding-left: 23px;
    padding-right: 23px;
}

@media (max-width: 1025px) {
    [class*="col-"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] {
    float: left;
}

.col-xxs-12 {
    width: 100%;
}

.col-xxs-11 {
    width: 91.66666667%;
}

.col-xxs-10 {
    width: 83.33333333%;
}

.col-xxs-9 {
    width: 75%;
}

.col-xxs-8 {
    width: 66.66666667%;
}

.col-xxs-7 {
    width: 58.33333333%;
}

.col-xxs-6 {
    width: 50%;
}

.col-xxs-5 {
    width: 41.66666667%;
}

.col-xxs-4 {
    width: 33.33333333%;
}

.col-xxs-3 {
    width: 25%;
}

.col-xxs-2 {
    width: 16.66666667%;
}

.col-xxs-1 {
    width: 8.33333333%;
}

.col-xxs-pull-12 {
    right: 100%;
}

.col-xxs-pull-11 {
    right: 91.66666667%;
}

.col-xxs-pull-10 {
    right: 83.33333333%;
}

.col-xxs-pull-9 {
    right: 75%;
}

.col-xxs-pull-8 {
    right: 66.66666667%;
}

.col-xxs-pull-7 {
    right: 58.33333333%;
}

.col-xxs-pull-6 {
    right: 50%;
}

.col-xxs-pull-5 {
    right: 41.66666667%;
}

.col-xxs-pull-4 {
    right: 33.33333333%;
}

.col-xxs-pull-3 {
    right: 25%;
}

.col-xxs-pull-2 {
    right: 16.66666667%;
}

.col-xxs-pull-1 {
    right: 8.33333333%;
}

.col-xxs-pull-0 {
    right: auto;
}

.col-xxs-push-12 {
    left: 100%;
}

.col-xxs-push-11 {
    left: 91.66666667%;
}

.col-xxs-push-10 {
    left: 83.33333333%;
}

.col-xxs-push-9 {
    left: 75%;
}

.col-xxs-push-8 {
    left: 66.66666667%;
}

.col-xxs-push-7 {
    left: 58.33333333%;
}

.col-xxs-push-6 {
    left: 50%;
}

.col-xxs-push-5 {
    left: 41.66666667%;
}

.col-xxs-push-4 {
    left: 33.33333333%;
}

.col-xxs-push-3 {
    left: 25%;
}

.col-xxs-push-2 {
    left: 16.66666667%;
}

.col-xxs-push-1 {
    left: 8.33333333%;
}

.col-xxs-push-0 {
    left: auto;
}

.col-xxs-offset-12 {
    margin-left: 100%;
}

.col-xxs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xxs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xxs-offset-9 {
    margin-left: 75%;
}

.col-xxs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xxs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xxs-offset-6 {
    margin-left: 50%;
}

.col-xxs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xxs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xxs-offset-3 {
    margin-left: 25%;
}

.col-xxs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xxs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xxs-offset-0 {
    margin-left: 0%;
}

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {
        float: left;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666667%;
    }

    .col-xs-10 {
        width: 83.33333333%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666667%;
    }

    .col-xs-7 {
        width: 58.33333333%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666667%;
    }

    .col-xs-4 {
        width: 33.33333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.66666667%;
    }

    .col-xs-1 {
        width: 8.33333333%;
    }

    .col-xs-pull-12 {
        right: 100%;
    }

    .col-xs-pull-11 {
        right: 91.66666667%;
    }

    .col-xs-pull-10 {
        right: 83.33333333%;
    }

    .col-xs-pull-9 {
        right: 75%;
    }

    .col-xs-pull-8 {
        right: 66.66666667%;
    }

    .col-xs-pull-7 {
        right: 58.33333333%;
    }

    .col-xs-pull-6 {
        right: 50%;
    }

    .col-xs-pull-5 {
        right: 41.66666667%;
    }

    .col-xs-pull-4 {
        right: 33.33333333%;
    }

    .col-xs-pull-3 {
        right: 25%;
    }

    .col-xs-pull-2 {
        right: 16.66666667%;
    }

    .col-xs-pull-1 {
        right: 8.33333333%;
    }

    .col-xs-pull-0 {
        right: auto;
    }

    .col-xs-push-12 {
        left: 100%;
    }

    .col-xs-push-11 {
        left: 91.66666667%;
    }

    .col-xs-push-10 {
        left: 83.33333333%;
    }

    .col-xs-push-9 {
        left: 75%;
    }

    .col-xs-push-8 {
        left: 66.66666667%;
    }

    .col-xs-push-7 {
        left: 58.33333333%;
    }

    .col-xs-push-6 {
        left: 50%;
    }

    .col-xs-push-5 {
        left: 41.66666667%;
    }

    .col-xs-push-4 {
        left: 33.33333333%;
    }

    .col-xs-push-3 {
        left: 25%;
    }

    .col-xs-push-2 {
        left: 16.66666667%;
    }

    .col-xs-push-1 {
        left: 8.33333333%;
    }

    .col-xs-push-0 {
        left: auto;
    }

    .col-xs-offset-12 {
        margin-left: 100%;
    }

    .col-xs-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xs-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xs-offset-9 {
        margin-left: 75%;
    }

    .col-xs-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xs-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xs-offset-6 {
        margin-left: 50%;
    }

    .col-xs-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xs-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xs-offset-3 {
        margin-left: 25%;
    }

    .col-xs-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xs-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xs-offset-0 {
        margin-left: 0%;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

}



/**
  * Clearfix
  * Apply clearing without adding additional markup
  */

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}


/**
  * Flexbox
  * Until we can utilise flexbox natively we can kinda, sorta, attempt to emulate
  * it, in a way
  *
  * Demo: jsfiddle.net/inuitcss/ufUh2
  */

.flexbox {
    display: table;
    width: 100%;
}

/**
      * Nasty hack to circumvent Modernizr conflicts.
      */
html.flexbox {
    display: block;
    width: auto;
}

.flexbox-item {
    display: table-cell;
    vertical-align: middle;
}

/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.
 
     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
  * Buttons
  */

.btn-block {
    display: block;
    width: 100%;
}

.small-blue-btn {
    height: 35px;
    width: 50%;
    background-color: #009ada;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: .6px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    border-left: 2px solid #fff;
}

.small-dark-btn {
    height: 35px;
    width: 50%;
    background-color: #2c3741;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: .6px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    border-right: 2px solid #fff;
}

.button--blue {
    font-size: 20px;
    background-color: #009ada;
    height: 44px;
    display: inline-block;
    color: #fff !important;
    line-height: 44px;
    text-align: center;
    border-radius: 22px;
    font-weight: 800;
    letter-spacing: .6px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}

.button--dark {
    font-size: 20px;
    background-color: #2c3741;
    height: 44px;
    display: block;
    color: #fff !important;
    line-height: 44px;
    text-align: center;
    border-radius: 22px;
    font-weight: 800;
    letter-spacing: .6px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}

@media (max-width: 1025px) {

    .button--blue,
    .button--dark {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .button--blue,
    .button--dark {
        height: 35px;
        line-height: 35px;
    }
}

.button--primary {
    font-size: 14px;
    font-weight: 700;
    color: #009ada;
    letter-spacing: .84px;
}










/*Slide image height*/

.slider-img {
    height: 779px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    .slider-img {
        height: 568px;
    }
}

@media (max-width: 831px) {
    .slider-img {
        height: 700px;
    }
}

@media (max-width: 767px) {
    .slider-img {
        height: 580px !important;
    }
}




.headline-container {
    text-align: left;
    max-width: 1200px;
    background-color: #00000070;
    padding: 30px;
    margin: 100px;
}

.headline-container h1 {
    font-size: 65px;
    color: #fff;
    line-height: 75px;
    margin-top: 22px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.headline-container h1 span {
    font-size: 40px;
    font-weight: 400;
    line-height: 2em;
    text-transform: lowercase;
    display: block;
    clear: both;
}

.headline-container h2 {
    color: #009ada;
    font-size: 26px;
}

.headline-container p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

@media (max-width: 1568px) {
    .headline-container h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: 1474px) {
    .headline-container h1 {
        font-size: 55px;
        line-height: 65px;
    }
}

@media (max-width: 1380px) {
    .headline-container h1 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 1284px) {
    .headline-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media (max-width: 1204px) {
    .headline-container h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .headline-container h2 {
        font-size: 21px;
    }
}

@media (max-width: 1108px) {
    .headline-container h1 {
        font-size: 40px;
        line-height: 50px;
    }
}


@media (max-width: 1025px) {
    .headline-container h1 {
        font-size: 55px;
        line-height: 65px;
    }

    .headline-container h1 span {
        font-size: 30px;
    }

    .headline-container p {
        font-size: 18px;
    }
}


@media (max-width: 974px) {
    .headline-container h1 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 904px) {
    .headline-container h1 {
        font-size: 45px;
        line-height: 55px;
    }
}

@media (max-width: 832px) {
    .headline-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .headline-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .headline-container h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .headline-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .headline-container h1 {
        font-size: 30px !important;
        line-height: 32px;
        /*margin-top: 50px;*/
    }

    .headline-container p {
        font-size: 16px;
        margin-bottom: 27px;
    }

    .headline-container h1 span {
        font-size: 20px !important;
        line-height: 1em;
    }
}


@media (max-width: 400px) {

    .headline-container h2 {
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

@media (max-width: 374px) {

    .headline-container h2 {
        font-size: 12px;
    }
}



.page-body {
    margin-top: 50px;
}



.rsContent {
    position: relative;
}

.contain--wide {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

@media (max-width: 655px) {
    .contain--wide {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .indexHeader {
        margin-bottom: 55px;
    }

}

@media (max-width: 595px) {
    .indexHeader .container .nav-menu {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .indexHeader .container {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .page-body {
        margin-top: 50px;
    }
}

/**
  * Masthead
  */

.masthead {
    background-color: #fff;
}

.slider-wrapper {
    padding-left: 0;
    padding-right: 0;
}

/* Banner-menu */

.banner-menu {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    display: block;
}

.blue-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.2s;
    border: 2px solid rgba(224, 225, 227, 1.00);
    z-index: 0;

}

.blue-border h3 {
    color: #fff !important;
}

#backOne {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('images/funnel.jpg');
}

#backTwo {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('images/millingImg.jpg');
}

#backThree {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('images/lathing.jpg');
}



.banner-menu li {
    display: block;
    transition: all ease-in-out 0.2s;
    height: 247px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    /*box-shadow:         inset 0px 0px 0px 2px #e0e1e3;
         -webkit-box-shadow: inset 0px 0px 0px 2px #e0e1e3;
         -moz-box-shadow:    inset 0px 0px 0px 2px #e0e1e3;
         -o-box-shadow:      inset 0px 0px 0px 2px #e0e1e3;
         -ms-box-shadow:     inset 0px 0px 0px 2px #e0e1e3;*/
}

@media (max-width: 1268px) {
    .banner-menu h3 {
        font-size: 20px !important;
    }
}

@media (max-width: 1025px) {
    .banner-menu {
        margin-left: -6px;
        margin-right: -6px;
    }

    .banner-menu li {
        padding-left: 6px;
        padding-right: 6px;
    }

    .blue-border {
        width: calc(100% - 12px);
        left: auto;
    }
}

@media (max-width: 768px) {
    .banner-menu {
        margin-top: 32px;
    }
}

/* @media (max-width: 600px) {
             .banner-menu li {
                 height: auto;
             }
         } */

.banner-menu li:hover .blue-border {
    border: 2px solid #009ada;
    z-index: 2;
}

.banner-menu li:hover {
    border-color: #009ada;
}

.banner-menu a {
    display: block;
    padding-top: 28px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 26px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.banner-menu h3 {
    font-size: 25px;
    color: #2c3741;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: all ease-in-out 0.2s;
}

.banner-menu p {
    color: #009ada;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.84px;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-menu li:hover h3 {
    color: #009ada;
}

.banner-menu img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.pages-featured__imageOne {
    background: url(./images/funnel.jpg);
    z-index: 1140 !important;

}


/* HERO MAIN PAGE */
#hero {
    width: 100%;
    /* height: 60vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/heroSect.jpg") center center;
    background-size: cover;
    position: relative;
    /* margin-top: 60px; */
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#heroText {
    padding-top: 75px;
}

#hero img {
    width: 130px;
    height: 100px;
}

#hero h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: #005ca8;
    border: 2px solid #005ca8;
}

#hero h1 {
    font-family: 'Crimson Text', serif !important;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}



/* END HERO SECTION */



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding-bottom: 30px;
    margin-top: 50px;
}

.about .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.about img {
    padding: 15px 0;
    height: 600px;
    width: 450px;
}

.about .section-title p {
    text-align: left;
    font-style: italic;
    color: #666;
}

.about .about-content {
    padding: 40px;
}

.about .icon-box+.icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background: #f1f7fb;
    border-radius: 6px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: #428bca;
}

.about .icon-box:hover .icon i {
    color: #fff;
}

.about .icon-box .title {
    margin-left: 95px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .title a:hover {
    color: #428bca;
}

.about .icon-box .description {
    margin-left: 95px;
    line-height: 24px;
    font-size: 14px;
}

.about .video-box {
    position: relative;
}

.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
}

.about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

.section-title-no {
    padding-bottom: 20px;
}


.section-title-no h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.section-title-no h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 3px;
    background: #ffc000;
    bottom: 0;
    left: 0;
}

.section-title-no p {
    margin-bottom: 0;
}


.services-warp {
    padding-top: 56px;
    padding-bottom: 30px;
    max-width: 1227px;
    margin: auto auto 0;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 0 #00000075;
    box-shadow: 0 0 0 #00000075;
    z-index: 99;
}

.services-warp:after,
.services-warp::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -2;
    -webkit-box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
    box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
}

.services-warp::before {
    background: #fff;
    height: 100%;
    top: -4px;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    border-top: 4px solid #ffc000;
    z-index: -1;
}

.service-item {
    margin-bottom: 55px;
    padding-right: 20px;
}

.service-item .si-head {
    overflow: hidden;
    margin-bottom: 20px;
}



.service-item .si-icon {
    float: left;
    width: 61px;
}

.si-icon img {
    height: 40px;
    width: 40px;
}

.service-item h5 {
    overflow: hidden;
    padding-top: 12px;
}

.service-item p {
    margin-bottom: 0;
}

/* ----------------
  Features Section
  ---------------------*/





.fa-phone {
    color: #ffc000;
}

.fa-map-marker {
    color: #ffc000;
}

.feature-box {
    margin-bottom: 30px;
}

.feature-box .fb-text {
    padding: 50px 27px 43px;
    background: #fff;
    text-align: center;
}

.feature-box img {
    width: 350px;
    height: 300px;
}

.feature-box h5 {
    margin-bottom: 30px;
}

.feature-box p {
    margin-bottom: 25px;
}

.feature-box .fb-more-btn {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #ffc000;
    padding: 15px;
    min-width: 128px;
    text-align: center;
}

.feature-box .fb-more-btn:hover {
    background: #ffc000;
    color: #fff;
}

/* ----------------
  Mission Section
  ---------------------*/

.mission {
    padding-top: 100px;
    padding-bottom: 50px;

}

#center {

    text-align: center;
    justify-content: center;
}

.missionHead {
    font-weight: bolder;
    padding-bottom: 50px;
}

.missionP {
    color: rgb(80, 80, 80);
    font-style: italic;
    font-size: 1.5em;
    padding-bottom: 150px;
}

/* ------------------------
  Call to action section
 ------------------------*/

.cta-section {
    padding: 33px 0;
    background: #009ada;
}

.cta-section h2 {
    color: #fff;
    font-size: 37px;
    font-weight: 300;
    text-align: center;
}

.site-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 150px;
    padding: 13px 27px;
    text-transform: uppercase;
    background: #009ada;
    color: #000;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.cta-section #buttonSect {
    display: flex;
    justify-content: center;
    text-align: center;
}

.site-btn:hover {
    color: #fff;
}

.site-btn.sb-dark {
    color: #fff;
    background: #081624;
}

.video-text h2 {
    font-weight: 300;
    margin-bottom: 40px;
}

.video-text p {
    line-height: 2;
    margin-bottom: 50px;
}

.video-box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 88px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.27);
}


/* ----------------
  Footer Section
 ---------------------*/

#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f0f2;
    padding: 10px 0 30px 0;
    background: #d0e8fc;

}

footer .makeBig {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 768px) {
    footer .makeBig {
        flex-wrap: wrap;
    }
}

footer .centerMe {
    display: flex;
    justify-content: center;
}

.footer-copyright {
    text-align: center;
}

#indexFooter {
    display: block;
    color: #444444;
    font-size: 14px;
    background: #f1f0f2;
    padding: 10px 0 30px 0;
    background: #d0e8fc;
}

#indexFoot {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 3rem !important;
    margin-bottom: 1rem !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;

}

#indexFoot .col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%
}

#indexFoot .col-md-2 h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: .5rem;
    line-height: 1.2;
}

@media (max-width: 555px) {
    #indexFoot .col-md-2 h6 {
        font-weight: normal;
        font-size: 12px;

    }

    #indexFoot {
        word-wrap: normal;
        margin: auto !important;
    }

    #indexFoot .col-md-2.mb-3 {
        padding: 0 !important;
    }
}

#indexFootText {
    justify-content: center;
    display: flex;
    text-align: center;
}

/* SOLUTIONS PAGE */

.serveHero {
    background-image: url(images/serviceHero.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 15px solid #009ada;
    border-bottom: 15px solid #009ada;
}

.serveHero h1 {
    color: #fff;

}

.serveHero p {
    font-size: 1.5em;
    color: #fff;


}



#width {
    width: 100%;
}

/* SERVICES PAGE */

.reserch-section {
    padding-top: 50px;
    padding-bottom: 50px;

}

#border {
    border: 1px solid rgb(70, 70, 70);
    padding-left: 0;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.tab-content {
    color: #000;
}

.reserch-tab-menu {
    display: block;
    border-bottom: none;
}

.reserch-tab-menu li.nav-item {
    display: block;
}


.reserch-tab-menu li.nav-item a.nav-link {
    display: block;
    padding: 15px;
    color: black;
    border: none;
    font-size: 20px;
    line-height: 1.45;
    border-radius: 0;
    text-align: center;
}

.headingTab {
    background-color: rgba(160, 160, 160, 0.616);
    color: #000;
    padding: 15px;

    text-align: center;
}

.reserch-tab-menu li.nav-item {
    border-bottom: 1px solid grey
}

.reserch-tab-menu li.nav-item a.nav-link.active {
    background: #009ada;
}

.reserch-tab {
    margin-bottom: 70px;
}

.reserch-tab h2 {
    font-weight: 300;
    margin-bottom: 35px;
}

.reserch-tab p {
    margin-bottom: 30px;
}

.reserch-text {
    margin-bottom: 60px;
}

.reserch-text h5 {
    font-size: 20px;
    margin-bottom: 50px;
}

.reserch-info-warp {
    padding-top: 36px;
}

.reserch-info-warp .info-box {
    margin-top: 36px;
}



/* CONTACT SECTION */

.map-section {
    position: relative;
    height: 50vh;
    padding: 115px 0 110px;
}

.map-section .container {
    position: relative;
    z-index: 5;
}

.map-info {
    max-width: 293px;
    padding: 79px 25px 75px;
    background: #ffc000;
    position: relative;
}

.map-info::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -17px;
    border-left: 27px solid #ffc000;
    border-top: 0px solid transparent;
    border-bottom: 17px solid transparent;
}

.map-info img {
    margin-bottom: 45px;
}

.map-info p {
    color: #fff;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.contact-text h2 {
    font-weight: 300;
    margin-bottom: 35px;
}

.contact-text p {
    margin-bottom: 10px;
}

.contact-text .header-info-box {
    display: block;
    padding: 0;
    margin-bottom: 30px;
}

.contact-form {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 54px;
    padding: 20px 25px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: #718090;
    border: none;
    border-bottom: 3px solid #e3f0fa;
    margin-bottom: 28px;
    background: #f7fafd;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom: 3px solid #ffc000;
}

.contact-form textarea {
    height: 209px;
}

.contact-form .site-btn {
    min-width: 156px;
}

.contact-section {
    padding-top: 50px;
    padding-bottom: 150px;
    margin-top: 50px;
}

@media(max-width: 767px) {
    .contact-section {
        text-align: center;
    }
}

.contactBtn {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-form input {
    margin-bottom: 0;
}

.contact-form textarea {
    margin-bottom: 0;
}

form label {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
# ABOUT US PAGE
--------------------------------------------------------------*/

#about-heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #005ca8;
}

#about-heading h1::after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background: #005ca8;

}

.MainCont {
    margin-right: 0;
    margin-left: 0;

}

.MainCont .container {
    margin-top: auto;
    text-align: center;
}

#chipImg img {
    height: 100%;
    width: 80%;
    text-align: center;
    padding-right: 15px;
}

#chipImg {
    text-align: center;
}

.aboutSect {
    margin-bottom: 5%;
}

.aboutSect p {
    line-height: 2rem;
}


.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutHeading {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

#aboutHeading h1:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #005ca8;

}

#aboutHeading h1 {
    font-size: 48px;
}

/* application form  */

.openPos {
    margin-top: 35px;
    margin-bottom: 50px;
}


.openPos p {
    text-align: center;
}

.employment {
    margin-bottom: 35px;
}


#btnSubmit {
    text-align: center;
}

legend {
    text-align: center;
    padding-bottom: 25px;
}